*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #555;
  background-color: #ebebeb; }

.scrolling-box {
  scroll-behavior: smooth; }

@keyframes appearMoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes appearMoveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes appearMoveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.6rem;
    margin-left: 1.6rem; }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    margin-left: 1.74rem; }

.heading-secondary {
  position: relative;
  color: #2e2d26;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 3rem;
  text-align: center; }
  .heading-secondary::after {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: #d6ad33;
    height: 3px;
    width: 30%; }

.flex-container--center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.flex-container {
  display: flex;
  justify-content: center; }

.heading--upper {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.5rem !important; }

.btn:link, .btn:visited {
  /* set to inline-block because it's an anchor element */
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 3px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;
  border: 2px solid #d6ad33; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  background-color: #d6ad33;
  color: #fff; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }

.btn--light {
  background-color: transparent;
  color: #fff; }
  .btn--light::after {
    background-color: transparent;
    color: #fff; }

.btn--dark {
  background-color: #000;
  color: #ebebeb; }
  .btn--dark::after {
    background-color: #000;
    color: #ebebeb; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: appearMoveInBottom 1s ease-out 0.75s;
  /* applies properties of 0% before load */
  animation-fill-mode: backwards; }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 100;
  background-color: transparent; }
  .nav--scrolling {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    position: fixed;
    top: 0;
    left: 0; }
  .nav__logo {
    height: 8rem;
    width: 19.1rem;
    filter: invert(1); }
  .nav__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem; }
  .nav__item {
    border-radius: 3px;
    overflow: hidden; }
  .nav__link--main:link, .nav__link--main:visited {
    min-width: 12rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid #d6ad33;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    text-align: center; }
  .nav__link--main:hover {
    background-color: #d6ad33;
    color: black; }
  .nav__link--main:active {
    transform: translateY(1px); }
  .nav__request-box {
    width: 19.1rem;
    border-radius: 3px;
    overflow: hidden; }
  .nav__link--request:link, .nav__link--request:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #d6ad33;
    display: block;
    text-align: center;
    background-color: #d6ad33;
    border: 1px solid #d6ad33;
    padding: 0.75rem 1.5rem;
    transition: all 0.3s; }
  .nav__link--request:hover {
    background-color: white;
    color: black;
    border-color: white; }
  .nav__link--request:active {
    transform: translateY(1px); }
  .nav__link--logo:link, .nav__link--logo:visited, .nav__link--logo:hover {
    padding: 0;
    border: none; }

.footer {
  border-top: 1px solid #d6ad33;
  display: flex;
  height: 15rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/hero.jpeg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  margin-bottom: 9rem; }
  .header__text-box {
    text-align: center; }

.section-services {
  background-color: #ebebeb;
  padding-top: 5rem; }

.services {
  flex-direction: column;
  max-width: 130rem;
  margin: 0 auto; }
  .services__description {
    font-size: 2.1rem;
    text-align: center; }
  .services__heading-box {
    margin-bottom: 3rem; }
  .services__selector {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
    background-color: rgba(0, 0, 0, 0.9); }
  .services__btn {
    min-width: 20rem;
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 1.5rem 2.5rem;
    color: #fff;
    outline: none;
    border: 1px solid #d6ad33;
    background-color: transparent;
    background-color: rgba(235, 235, 235, 0.06);
    text-transform: uppercase;
    transition: all 0.3s;
    border-radius: 3px; }
    .services__btn:hover {
      background-color: #d6ad33;
      color: #2e2d26; }
    .services__btn--active {
      background-color: #d6ad33;
      color: #2e2d26; }
  .services__display {
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 58vh;
    background-image: url(../../img/exc-btn.jpeg);
    background-size: cover; }
  .services__display-overlay {
    height: 100%;
    background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    padding: 3rem 2rem; }
  .services__display-heading {
    color: #fff;
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: 100;
    border-bottom: 2px solid #d6ad33;
    margin-bottom: 2rem; }
  .services__text-detail {
    color: #fff;
    font-size: 1.9rem;
    margin-bottom: 1.5rem; }
  .services__list-container {
    margin-top: 7rem;
    display: flex;
    justify-content: space-around; }
  .services__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 2.2; }
  .services__list-item {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 2.2rem; }
  .services__icon {
    color: #d6ad33; }

.section-contact {
  padding-top: 14rem;
  margin-bottom: 10rem; }

.contact {
  flex-direction: column;
  max-width: 130rem;
  margin: 0 auto; }
  .contact__heading-box {
    margin-bottom: 3rem; }
  .contact__description {
    font-size: 2.1rem;
    text-align: center; }
  .contact__text-box {
    color: #fff;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem; }
  .contact__form-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: #e67e22; */
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-image: linear-gradient(to right bottom, rgba(46, 45, 38, 0.9), rgba(46, 45, 38, 0.9)); }
    .contact__form-box__form-heading {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 100;
      border-bottom: 1px solid #d6ad33;
      margin-bottom: 1.5rem; }
    .contact__form-box__text {
      font-size: 2rem;
      font-weight: 100;
      line-height: 1.8;
      margin-bottom: 4.8rem; }
  .contact__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
    font-family: "Lato"; }
    .contact__form__message--group {
      grid-column: 1 / -1; }
    .contact__form__message--input {
      resize: none;
      width: 100%;
      padding: 1.2rem;
      font-size: 1.8rem;
      border: none;
      background-color: #ebebeb;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      color: #2e2d26;
      font-family: inherit;
      height: 75%; }
    .contact__form-btn {
      grid-column: 2 / -1;
      font-size: 2rem;
      letter-spacing: 1px;
      padding: 1.5rem 2.5rem;
      color: #fff;
      outline: none;
      border: 1px solid #d6ad33;
      background-color: transparent;
      background-color: #d6ad33;
      text-transform: uppercase;
      transition: all 0.3s;
      border-radius: 3px;
      height: 70%; }
      .contact__form-btn:hover {
        background-color: #2e2d26;
        color: #fff; }
      .contact__form-btn--active {
        background-color: #d6ad33;
        color: #2e2d26; }
    .contact__form__img-box {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../img/contact.jpeg");
      background-size: cover;
      background-position: center; }
  .contact__form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem; }
  .contact__form input,
  .contact__form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    border: none;
    background-color: #ebebeb;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #2e2d26; }
  .contact__form input::placeholder {
    color: rgba(46, 45, 38, 0.5); }
  .contact__form *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5); }

.section-about {
  padding-top: 14rem;
  margin-bottom: 10rem; }

.about {
  max-width: 130rem;
  margin: 0 auto;
  flex-direction: column; }
  .about__heading-box {
    margin-bottom: 3rem; }
  .about__description {
    font-size: 2.1rem;
    text-align: center; }
  .about__main-content {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
    padding: 2.5rem; }
  .about__content-container {
    padding: 3rem; }
  .about__text-content {
    color: #2e2d26;
    font-size: 2.5rem;
    font-weight: 100; }
    .about__text-content:first-of-type {
      margin-bottom: 2rem; }
  .about__img-container {
    border-radius: 3px;
    padding: 2rem;
    overflow: hidden; }
  .about__side-img {
    display: block;
    border-radius: 3px;
    outline: 3px solid #d6ad33;
    outline-offset: 1rem; }
