// *****************
// COLORS
// *****************
// - Primary: #d6ad33

// -Tints:

$color-primary: #d6ad33;
$color-primary-light: #e2c670;
$color-primary-dark: #967924;
$color-primary-super-light: #faf5e6;

$color-grey-dark-1: #333;
$color-grey-dark-2: #555;
$color-grey-dark-3: #777;
$color-grey-dark-4: #999;

$color-grey-light-1: #ebebeb;

$color-white: #fff;
$color-black: #000;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-medium: 0 2rem 5rem rgba(0, 0, 0, 0.1);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
