.popup {
  // background-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__close {
    &:link,
    &:visited {
      color: $color-white;
      font-size: 4rem;
      position: absolute;
      top: 0.5rem;
      right: 2.5rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      z-index: 9999;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: rgba(0, 0, 0, 0.15);
      color: $color-primary;
    }
    &:active {
      transform: translateY(-1px);
    }
  }

  &__content {
    position: relative;
    width: 75%;
    height: 50rem;
    background-color: $color-main-dark;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    color: $color-white;
    border-radius: 3px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    transition: all 0.5s;
    // opacity: 1;
    opacity: 0;
    // transform: scale(0.1);

    @include respond(lg-phone) {
      grid-template-columns: 1fr;
    }
    @include respond(md-phone) {
      height: 55rem;
    }
    @include respond(sm-phone) {
      height: 63rem;
    }
  }

  &__left {
    // grid-column: 1 / span 1;
    // grid-row: 1 / -1;
    overflow: hidden;
    align-self: stretch;
    @include respond(lg-phone) {
      display: none;
      visibility: hidden;
    }
  }

  &__right {
    padding: 2rem 3rem;
    align-self: start;

    @include respond(md-phone) {
      height: 55rem;
    }
  }

  &__heading {
    font-size: 3rem;
    letter-spacing: 1rem;
    margin-left: 0;
    margin-bottom: 0;
    text-align: left;
    color: $color-white;
  }

  &__divider {
    margin: 0.5rem 0 1rem 0;
    width: 80%;
  }

  &__subheading {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 100;
  }

  &__img {
    display: block;
    height: 50rem;
    transform: translateX(-12rem);
    filter: opacity(80%);
  }

  &__list-heading {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  &__list {
    list-style: none;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  &__list-item {
    font-size: 1.6rem;
    line-height: 2;
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__button:link,
  &__button:visited {
    text-decoration: none;
    color: $color-white;

    @include respond(md-phone) {
      width: 100%;
      text-align: center;
    }

    @include respond(md-phone) {
      margin-bottom: 0;
    }
  }

  @include respond(md-phone) {
    &__heading {
      font-size: 2.5rem;
      letter-spacing: 0.5rem;
    }

    &__divider {
      margin: 0.5rem 0 1rem 0;
      width: 90%;
    }
  }
}

.visible {
  opacity: 1;
  visibility: visible;
}
