.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-main-dark;
  // -webkit-backdrop-filter: blur(10px);
  // backdrop-filter: blur(10px);
  /* Because we want header to be stick later we are using a fixed height */
  height: 10rem;
  padding: 0 4.8rem;
  position: relative;

  @include respond(sm-phone) {
    padding: 0 2rem;
  }

  &__logo {
    height: 8rem;
    filter: invert(1);
  }

  @include respond(md-phone) {
    &__logo {
      height: 6rem;
    }
  }

  &__main-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  &__main-nav-list-item {
    border-radius: 3px;
    overflow: hidden;
  }

  &__main-nav-link:link,
  &__main-nav-link:visited {
    min-width: 15rem;
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    color: $color-white;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid $color-primary;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    text-align: center;
  }

  &__main-nav-link:hover {
    background-color: $color-primary;
    color: black;
  }

  &__main-nav-link:active {
    transform: translateY(1px);
  }

  &--scrolling {
    background-color: $color-main-dark;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    // -webkit-backdrop-filter: blur(10px);
    // backdrop-filter: blur(10px);
  }
}

// MOBILE NAVIGATION

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 5500;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: $color-primary;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

@include respond(tab-port) {
  .header__main-nav {
    background-color: rgba($color-black, 0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */
    /* 1. Hide it visually */
    opacity: 0;

    /* 2. Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3. Hide it from screen readers */
    visibility: hidden;
    z-index: 5000;
  }
  .header__main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
    width: 100%;
  }

  .header__main-nav-list-item {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .header__main-nav-link:link,
  .header__main-nav-link:visited {
    width: 85%;
    font-size: 1.8rem;
    padding: 2rem 0;
  }

  .btn-mobile-nav {
    display: block;
  }

  .nav-open .header__main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
    // -webkit-backdrop-filter: blur(10px);
    // backdrop-filter: blur(10px);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}
