// *****************
// TYPOGRAPHY
// *****************
// -FONT SIZES
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// -FONT WEIGHTS
// Default: 400
// Medium: 500
// Semi-Bold: 600
// Bold: 700

// -LINE HEIGHTS:
// Default: 1
// 1.05
// 1.2
// 1.6
// 1.8

// -LETTER SPACING
// -0.5px
// 0.75px

.heading-primary {
  // color: rgb(230, 230, 230);
  color: rgba($color-white, 0.8);
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 9rem;
    font-weight: 400;
    letter-spacing: 3rem;
    margin-left: 3rem;
    /* animation shorthand */
    animation: appearMoveInLeft 1s ease-out;

    /* animation-name: appearMoveInLeft;
        animation-duration: .9s;
        animation-timing-function: ease-out; */
  }
  &--sub {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    margin-left: 1.74rem;
    animation-name: appearMoveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */
  }
}
