// *****************
// TYPOGRAPHY
// *****************
// -FONT SIZES
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// -FONT WEIGHTS
// Default: 400
// Medium: 500
// Semi-Bold: 600
// Bold: 700

// -LINE HEIGHTS:
// Default: 1
// 1.05
// 1.2
// 1.6
// 1.8

// -LETTER SPACING
// -0.5px
// 0.75px

.heading-primary {
  // color: rgb(230, 230, 230);
  color: rgba($color-white, 1);
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.6rem;
    margin-left: 1.6rem;
  }
  &--sub {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    margin-left: 1.74rem;
  }

  @include respond(lg-phone) {
    &--main {
      font-size: 3.8rem;
      letter-spacing: 1.3rem;
      margin-left: 1.3rem;
    }
    &--sub {
      font-size: 2rem;
      letter-spacing: 1.74rem;
      margin-left: 1.74rem;
    }
  }

  @include respond(md-phone) {
    &--main {
      font-size: 3rem;
      letter-spacing: 1rem;
      margin-left: 1rem;
    }
    &--sub {
      font-size: 2rem;
      letter-spacing: 1rem;
      margin-left: 1rem;
    }
  }
  @include respond(sm-phone) {
    &--main {
      font-size: 2rem;
    }
    &--sub {
      font-size: 1.5rem;
    }
  }
}

.heading-secondary {
  position: relative;
  color: $color-dark;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;

  &::after {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: $color-primary;
    height: 3px;
    width: 30%;
  }
}
