.section-services {
  background-color: $color-grey-light-1;
  padding-top: 10rem;
}

.services {
  flex-direction: column;
  max-width: 130rem;
  margin: 0 auto;

  &__description {
    font-size: 2.1rem;
    text-align: center;
  }

  &__heading-box {
    margin-bottom: 3rem;
  }

  &__selector {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
    background-color: rgba($color-black, 0.9);

    @include respond(md-phone) {
      flex-direction: column;
    }
  }

  &__btn {
    min-width: 20rem;
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 1.5rem 2.5rem;
    color: $color-white;
    outline: none;
    border: 1px solid $color-primary;
    background-color: transparent;
    background-color: rgba($color-grey-light-1, 0.06);
    text-transform: uppercase;
    transition: all 0.3s;
    border-radius: 3px;

    @include respond(lg-phone) {
      font-size: 1.75rem;
    }

    @include respond(md-phone) {
      font-size: 1;
      padding: 1.5rem 1.7rem;
      min-width: 15rem;
    }

    &:hover {
      background-color: $color-primary;
      color: $color-dark;
    }

    &--active {
      background-color: $color-primary;
      color: $color-dark;
    }
  }

  &__display {
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 55rem;
    background-image: url(../../img/exc-btn.jpeg);
    background-size: cover;

    @include respond(md-phone) {
      height: 80rem;
    }
  }

  &__display-overlay {
    height: 100%;
    background-image: linear-gradient(
      to left top,
      rgba($color-black, 0.7),
      rgba($color-black, 0.7)
    );
    padding: 3rem 2rem;
  }

  &__display-heading {
    color: $color-white;
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: 100;
    border-bottom: 2px solid $color-primary;
    margin-bottom: 2rem;
  }

  &__text-detail {
    color: $color-white;
    font-size: 1.9rem;
    margin-bottom: 1.5rem;

    @include respond(md-phone) {
      font-size: 1.6rem;
    }
  }

  &__list-container {
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;

    @include respond(md-phone) {
      flex-direction: column;
      margin: 3.5rem auto;
      width: 100%;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 2.2;
    @include respond(md-phone) {
      margin: 0 auto;
      width: 50rem;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    color: $color-white;
    font-size: 2.2rem;

    @include respond(lg-phone) {
      font-size: 1.75rem;
    }
  }

  &__icon {
    color: $color-primary;
  }
}
