.section-about {
  padding-top: 20rem;
}

.about {
  max-width: 130rem;
  margin: 0 auto;
  flex-direction: column;

  &__heading-box {
    margin-bottom: 3rem;
  }

  &__description {
    font-size: 2.1rem;
    text-align: center;
  }

  &__main-content {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    // background-image: linear-gradient(
    //   to right bottom,
    //   rgba($color-black, 0.3),
    //   rgba($color-black, 0.3)
    // );
    border-radius: 3px;
    overflow: hidden;
    padding: 2.5rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }

  &__content-container {
    padding: 3rem;
  }

  &__text-content {
    color: $color-dark;
    font-size: 2.5rem;
    font-weight: 100;

    &:first-of-type {
      margin-bottom: 2rem;
    }

    @include respond(lg-phone) {
      font-size: 1.9rem;
    }
  }

  &__img-container {
    border-radius: 3px;
    padding: 2rem;
    overflow: hidden;
    width: 100%;
  }
  &__side-img {
    display: block;
    border-radius: 3px;
    outline: 3px solid $color-primary;
    outline-offset: 1rem;
    width: 100%;
  }

  @include respond(tab-port) {
    &__img-container {
      width: 60%;
      justify-self: center;
    }
  }

  @include respond(lg-phone) {
    &__img-container {
      width: 70%;
    }
  }
  @include respond(md-phone) {
    &__img-container {
      width: 100%;
    }
  }
}

figcaption {
  font-size: 1.6rem;
  margin-top: 2rem;
  text-align: center;
}
