.header {
  height: 95vh;
  // TODO: Ask Kelsey which one she likes more
  background-image: linear-gradient(
      to left top,
      rgba($color-black, 0.35),
      rgba($color-black, 0.35)
    ),
    // linear-gradient(
    //     to left top,
    //     rgba($color-dark, 0.8),
    //     rgba($color-dark, 0.8)
    //   ),
    url(../../img/hero.jpeg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  margin-bottom: 9rem;

  &__logo-box {
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem;
  }

  &__logo {
    height: 8rem;
    filter: invert(1);
  }

  &__container {
    margin-top: 8rem;
  }

  &__text-box {
    text-align: center;
  }
}
