.section-contact {
  padding-top: 10rem;

  @include respond(md-phone) {
    padding-top: 12rem;
  }
}

.contact {
  flex-direction: column;
  max-width: 130rem;
  margin: 0 auto;

  &__heading-box {
    margin-bottom: 3rem;
  }

  &__description {
    font-size: 2.1rem;
    text-align: center;
  }

  &__text-box {
    color: $color-white;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;

    @include respond(md-phone) {
      padding: 3.8rem 3.2rem 3.2rem 3.2rem;
    }
  }

  &__form-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 3px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    overflow: hidden;

    @include respond(lg-phone) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 3fr;
      border-radius: none;
      grid-auto-rows: minmax(min-content, max-content);
    }

    background-image: linear-gradient(
      to right bottom,
      rgba($color-dark, 0.9),
      rgba($color-dark, 0.9)
    );

    &__form-heading {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 100;
      border-bottom: 1px solid $color-primary;
      margin-bottom: 1.5rem;
    }

    &__text {
      font-size: 2rem;
      font-weight: 100;
      line-height: 1.8;
      margin-bottom: 4.8rem;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
    font-family: "Lato";

    @include respond(md-phone) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr) 2fr 1fr;
    }

    @include respond(md-phone) {
      &__full-name--group {
        grid-row: 1 / span 1;
        grid-column: 1 / -1;
      }
      &__email--group {
        grid-row: 2 / span 1;
        grid-column: 1 / -1;
      }
      &__message--group {
        grid-row: 3 / span 1;
        grid-column: 1 / -1;
      }
    }

    &__message--group {
      grid-column: 1 / -1;
    }

    &__message--input {
      resize: none;
      width: 100%;
      padding: 1.2rem;
      font-size: 1.8rem;
      border: none;
      background-color: $color-grey-light-1;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      color: $color-dark;
      font-family: inherit;
      height: 75%;
    }

    &-btn {
      grid-column: 2 / -1;
      font-size: 2rem;
      letter-spacing: 1px;
      padding: 1.5rem 2.5rem;
      color: $color-white;
      outline: none;
      border: 1px solid $color-primary;
      background-color: transparent;
      background-color: rgba($color-primary, 1);
      text-transform: uppercase;
      transition: all 0.3s;
      border-radius: 3px;
      height: 70%;

      @include respond(md-phone) {
        grid-column: 1 / -1;
        grid-row: 4 / span 1;
      }

      &:hover {
        background-color: $color-dark;
        color: $color-white;
      }

      &--active {
        background-color: $color-primary;
        color: $color-dark;
      }
    }

    &__img-box {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-black, 0.45),
          rgba($color-black, 0.45)
        ),
        url("../../img/contact.jpeg");
      background-size: cover;
      background-position: center;

      @include respond(lg-phone) {
        grid-row: 1 / span 1;
        height: 20rem;
      }
    }
  }

  &__form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }
  &__form input,
  &__form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    border: none;
    background-color: $color-grey-light-1;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: $color-dark;
  }

  &__form input::placeholder {
    color: rgba($color-dark, 0.5);
  }

  &__form *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
  }
}
