.hero {
  overflow-x: hidden;
  height: 95vh;
  width: 100vw;
  background-image: linear-gradient(
      to left top,
      rgba($color-black, 0.6),
      rgba($color-black, 0.6)
    ),
    url(../../img/hero.jpeg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  margin-bottom: 9rem;

  @include respond(md-phone) {
    height: 85vh;
  }
  @include respond(sm-phone) {
    height: 80vh;
  }

  &__text-box {
    text-align: center;
  }
}
